header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    /* background-color: aquamarine; */
    background: linear-gradient(0deg, rgba(255,254,254,1) 2%, rgba(28,164,23,0.8715861344537815) 70%);
    height: 35vh;
}

h1{
    font-family: 'Merienda', cursive;
    font-size: 6vw;
    color: white;
    text-shadow: -3px -3px 8px black;
    text-align: center;
}

.carrot-image{
    position: absolute;
    width: 50%;
    height: 30%;
    pointer-events: none;
}

.carrot-image-flipped{
    position: absolute;
    width: 50%;
    height: 30%;
    left: 50%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    pointer-events: none;
}