*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  height: 100vh;
  text-align: center;
  /* background-color: rgba(220, 220, 220 ); */
  background: linear-gradient(0deg, rgba(237,162,20,0.8323704481792717) 7%, rgba(146,150,161,0.6979166666666667) 70%);
}

.first-side-image{
  position: absolute;
  width: 10%;
  top: 55%;
  right: 83%;
}

.second-side-image{
  position: absolute;
  width: 10%;
  top: 55%;
  left: 83%;
}




